

.input {
    max-width: 365px;
    height: 40px;
    font-size: 22px;
    background-color: rgba(169, 169, 169, 0.178);
    border: 2px solid #fff;
    padding: 0 1rem;
    color: #fff;
    padding: 10px;
}